@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}
body{
    min-height: 1000px;
}
p{
    font-weight: 300;
    color: #111;
}
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images/bg.jpg);
    background-size: cover;
    background-position: center;
}
.banner .content{
    max-width:  900px;
    text-align: center;
}
.banner .content h2{
    color: #fff;
    font-size: 5em;
}
.banner .content p{
    color: #fff;
    font-size: 1em;
}
.btn{
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: .5s;
}
.btn:hover{
    letter-spacing: 6px;

}
header{
    position: fixed;
    top: 0;
    left: 0;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1000;
    transition: .2s;
}
header .logo{
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
header .logo span{
    color: #ff0157;
}
header .navigation li{
    display: inline-block;
    padding: 0 10px;
}
header .navigation li a{
    color: #fff;
    font-weight: 300;
    transition: .2s;
}
header .navigation li a:hover{
    color: #ff0157;
}

header.sticky {
    color: #111;
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}
header.sticky .logo, header.sticky ul li a{
    color: #111;
}

/* .............. */

.about{
    padding: 100px;
}
.row{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;

}
.text-heading{
    color: #111;
    font-size: 2em;
    font-weight: 300;
}
.text-heading span{
    font-size: 1.5em;
    color: #ff0157;
    font-weight: 700;
}
.row .col50{
    position: relative;
    width: 48%;
}
.row .col50 .img-box{
    position: relative;
    width: 100%;
    min-height: 300px;
}
.img-box img{
    width:100%;
    height:100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu .content {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin-top: 40px;
    flex-wrap: wrap;
}
.menu .content .box{
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    background: #ffffff;
    box-shadow:  5px 5px 11px #d6d6d6, 
                 -5px -5px 11px #ffffff;
}
.menu .content .box .img-bx{
    position: relative;
    width: 100%;
    height: 300px;
}
.menu .content .box .img-bx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.menu .content .box .text{
    padding: 15px 0 5px;

}
.menu .content .box .text h3{
    font-weight: 400;
    color: #111;
}

/* .......... */

.expert .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}
.expert .content .box{
    position: relative;
    width: 250px;
    height: 300px;
    margin:15px;
}
.expert .content .box .img-bx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.expert .content .box .text{
    padding: 15px 0 5px;
}
.expert .content .box .text h3{
    font-weight: 300;
    color: #111;
}
/* .......... */
.testimonials{
    background: url(images/bg2.jpg);
    background-size: cover;
}
.testimonials .white h2, .testimonials .white p{
    color: #fff;
}
.testimonials .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    flex-direction: row;
}
.testimonials .content .box{
    width: 340px;
    margin: 20px;
    padding: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.testimonials .content .box .img-bx{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
    overflow: hidden;

}
.testimonials .content .box .img-bx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.testimonials .content .box .text{
    text-align: center;
}
.testimonials .content .box .text p{
    color: #666;
    font-style: italic;
}
.testimonials .content .box .text h3{
    margin-top: 20px;
    color: #ff0157;
    font-weight: 600;
    font-size: 1em;
}
.contact{
    background: url(images/bg3.jpg);
    background-size: cover;
    padding: 100px;
}
.contact .contactForm{
    margin-top:50px;
    background: #fff;
    padding: 75px 50px;
    box-shadow: 0px 15px 50px rgba(0,0,0,0.1);
    min-width: 500px;
    max-width: 500px;
}
.contact .contactForm h3{
    color: #111;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 20px;
}
.contact .contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.contact .contactForm .inputBox input,
    .contact .contactForm .inputBox textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #555;
    font-size: 16px;
    outline: none;
    color: #111;
    font-weight: 300;
    resize: none;
}
.contact .contactForm .inputBox input[type="submit"]{
    color: #fff;
    background: #ff0157;
    display: inline-block;
    max-width: 100px;
    transition: all 0.3s;
    border: none;
    letter-spacing: 2px;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
}
.copyRightText{
    padding: 8px 40px;
    border-top: 1px solid rgba(0,0,0,.1);
    text-align: center;
}
.copyRightText p{
    color: #333;
}
.copyRightText a{
    color: #ff0157;
    font-weight: 600;
    text-emphasis: none;
}
.menu, .about, .menu, .expert, .testimonials, .contact {
    padding: 90px 0;
}
.contact {
    padding: 90px 0 0 100px;
}
.about {
    padding: 90px;
}
@media(max-width: 991px){
    .banner{
        padding: 0 30px;
    }
    header,
    header.sticky{
        padding: 10px 20px;
    }
    header .navigation{
        display: none;
    }
    header .navigation.active{
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #ffffff;
    }
    header .navigation li a{
        color: #111;
        font-size: 1.6em;
        font-weight: 300;
    }

    .menuToggle {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(images/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        transition: .3s;
    }
    .menuToggle.active{
        background: url(images/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        z-index: 2000;
    }
    header.sticky .menuToggle{
        filter: invert(1);
    }
    .banner .content{
        max-width:  1420px;
        text-align: center;
    }
    .banner .content h2{
        color: #fff;
        font-size: 3em;
    }
    .about .row{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .about .row .col50:nth-child(1){
        margin-bottom: 60px;
        width: 70%;
    }
    .about .row .col50{
        width: 70%;
        min-width: 300px;
    }
    /*  */
    .menu {
        padding: 90px 0;
    }
    .menu .title h2{
        font-size: 2em;
    }
    .menu .title p{
        font-size: 1em;
        text-align: center;
    }
    .menu .content .box{
        min-width: 340px;
    }
    .expert {
        padding: 100px 0;
    }
    .expert .title h2{
        font-size: 1.7em;
        text-align: center;
    }
    .expert .title p{
        font-size: 1em;
        text-align: center;
    }
    .expert .content .box .img-bx{
        min-width: 300px;
    }
    .testimonials, .contact {
        padding: 100px 0;
    }
    .testimonials .title h2{
        font-size: 1.7em;
        text-align: center;
    }
    .testimonials .title p{
        font-size: 1em;
        text-align: center;
    }
   
    .testimonials .content .box{
        min-width: 300px;
        margin: 20px;
        padding: 40px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .contact .title h2{
        font-size: 1.7em;
        text-align: center;
    }
    .contact .title p{
        font-size: 1em;
        text-align: center;
    }
    .contact .contactForm{
        margin: 40px auto;
    }
    
}
    @media (max-width: 768px){
        .contact {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .contact .contactForm{
            min-width: 300px;

        }
    }

